@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap');

:root{
    --heading:#13183F;
    --paragraph:#83869A;
    --getstarted: #F74780;
}

*{
    box-sizing: border-box;
}
body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;

}

main{
    flex-direction: column;
    display: flex;
    justify-content: center;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 48px;
    margin-bottom: 36px;
    padding: 16px;
}

header h2{
    font-size: 28px;
    line-height: 35px;
    font-weight: 800;
    color: var(--heading);
    margin-top: 6px;
    margin-bottom: 7px;
}

header button{
    background-color: #13183F;
    width: 140px;
    height: 48px;
    color: white;
    border-radius: 28px;
    border: 0;
    font-weight:700;
    font-size:16px;
    line-height:28px;
}

header button:hover{
    background-color: hsla(234, 25%, 52%, 1);
    cursor: pointer;
}

section{
   background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
   width: 100%;
   display: flex;
   justify-content: center;
}

.wrapper{
    padding: 16px 16px 16px 16px;
   display: flex;
   flex-direction: column;
   align-items:  center;
}

.budget{
    max-width: 398px;
}

.budgeth{
    font-size: 40px;
    line-height: 50.4px;
    font-weight: 800;
    color: var(--heading);
    margin-bottom: 26px;
}

.budget-container{
    display: flex;
    flex-direction: column;
    padding: 16px 16px 0px 16px
}

.budgetp{
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: var(--paragraph);
    margin-bottom: 24px;
}

.budgetbutton{
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    width: 167px;
    height: 56px;
    outline: 0px;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: white;
    margin-bottom: 46px;
}

.budgetbutton:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
     linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    cursor: pointer;
}

.herro{
    width: 100%;
}

.card-header{
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 10px;
    width: 343px;
    height: 120px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.card-header-h{
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    color: white;
    margin-left: 28px;
    margin-right: 29px;
}

.icon{
    margin-top: -30px;
}

.card{
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    margin-bottom: 44px;
    max-width: 339px;
}

.card-text-container-h{
    font-size: 20px;
    font-weight: 800;
    line-height: 25px;
    color: var(--heading);
    margin-bottom: 16px;
    margin-top: 22px;
}

.card-text-container-p{
    margin-bottom: 24px;
    color:var(--paragraph);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    width: 100%;
    
}


.card-text-container-button{
    background-color: white;
    border:0;
    color: var(--getstarted);
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    align-self: flex-start;
    margin-bottom: 32px;
    padding: 0;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--heading);
    padding: 36px 40px;
}

footer h2{
    font-size: 28px;
    line-height: 35px;
    font-weight: 800;
    color: white;
}

footer button{
    background: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);
    width: 140px;
    height: 48px;
    color: white;
    border-radius: 28px;
    border: 0;
    font-weight:700;
    font-size:16px;
    line-height:28px;
}

footer button:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
     linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
     cursor: pointer;
}

/* tablet version */

@media screen and (min-width: 768px) {
    body{
        background-image: url(assets/image-hero-tablet.png);
        background-repeat: no-repeat;
        background-position: top -80px right -275px;
    }

    header{
        padding: 0;
        margin-top: 24px;
        margin-left: 40px;
        margin-right: 40px;
    }

    section{
        margin-top: 65px;
    }

    .wrapper{
        margin-top: 186px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 11px;
    }

    .budget{
        justify-self: unset; 
        flex-basis: 50%;
        margin-top: 99px;
    }

    .budget-container{
        flex-direction: row;
    }
    
    .photo-container{
        display: none;
    }

    .card-header{
        height: 259px;
    }
}

    /* desktop version */

@media screen and (min-width: 1024px){
    
    body{
        background-image: url(./assets/image-hero-desktop.png);
        background-position: top -80px right -400px;

    }
    
    .wrapper{
        max-width: 1110px;
    }   

    header{
        margin-left: 165px;
        margin-right: 165px;
    }

    header h2{
    font-size: 36px;
    line-height: 45.36px;
    color: var(--heading);
    margin-top: 6px;
    margin-bottom: 7px;
    }
 
    header button{
        width: 167px;
        height: 56px;
        font-size:18px;
    }

    .budget-container{
        padding: 165px 165px 0px 165px;
    }

    .budget{
        min-width: 457px;
        max-width: 457px;
        margin-top: 0px;
    }

    .budgeth{
        font-size: 56px;
        line-height: 70.56px;
        margin-bottom: 29px;
    }

    .budgetp{
        font-size: 18px;
        line-height: 28px;
    }

    .budgetbutton{
        height: 63px;
        line-height: 28px;
        font-size: 18px;
    }

    section{
        padding: 0px 0px 140px 0px;
    }

    .card-header {
        min-height: 322px;
        max-height: 322px;
        min-width: 350px;
        max-width: 350px;
    }

    .card{
        min-height: 346px;
        max-height: 346px;
        min-width: 350px;
        max-width: 350px;

        padding: 0px 32px 40px 32px;
    }

    .card-text-container-h{
        margin-top: 65px;
    }

    footer{
        padding:32px 165px;
    }

    footer h2{
    font-size: 36px;
    line-height: 45px;
    }

    footer button{
        height: 56px;
        width: 167px;
        font-size: 18px;
    }

}